<footer>
  <div class="footer-content">
    <p>© 2025 My Lib. Выполний студент 4 курса Тарасов Дмитрий.</p>
    <div class="social-links">
      <a href="https://vk.com/idom1n"><i class="fab fa-vk"></i></a>
      <a href="https://t.me/D0M1NOSH"><i class="fab fa-telegram"></i></a>
    </div>
  </div>
</footer>